<div class="container">
        <div class="col-lg-6">
                <div class="form-group">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <label for="Name">name</label>
                    <input type="text" 
                           formControlName="input1" 
                           class="form-control" 
                           placeholder="" 
                           id="Name"
                           aria-describedby="helpId"
                           >
                    <hr>
                    <div formArrayName="input2">
                        <div *ngFor="let inp of formInput.controls; let i=index">
                            <label *ngIf="i === 0" for="Hobby">Hobies</label>
                            <div class="input-group" style="margin-top: 10px;">
                                <input type="text" 
                                        class="form-control"
                                        formControlName="{{i}}"
                                        id="Hobby"
                                        >
                                <div class="input-group-append">
                                    <ng-container *ngIf="i === 0; else elseTemplate">
                                    <button class="btn btn-outline-success"
                                            type="button"
                                            (click)="onAddForm()"
                                            ><fa name="plus"></fa></button>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                            <button class="btn btn-outline-danger"
                                            type="button"
                                            (click)="onRmForm(i)"
                                            ><fa name="minus"></fa></button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" 
                            type="submit"
                            [disabled]="myForm.invalid"
                            style="margin-top: 10px;"
                            >Submit</button>&nbsp;
                    <button class="btn btn-secondary"
                            style="margin-top: 10px;"
                            (click)="onClear()"
                            >Clear</button>
                </form>
                </div>
        </div>
</div>

    


